DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=YOUR_DB_PASSWORD
DB_NAME=ecommerce_sqa
DB_PORT=5432
JWT_SECRET=YOUR_JWT_SECRET
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
MIDTRANS_SERVER_KEY=YOUR_MIDTRANS_SERVER_KEY
